---
import Base from "../../layouts/Base.astro";
const allPosts = await Astro.glob('../content/blog/kh/*.md');
const pageTitle = "Wellcome to my blogs Poscar";

---
<Base pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my blog.</p>
  <ul>
    {allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</Base>
<style>
  /* src/styles/blog.css */
h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  color: #34495e;
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  margin: 0.5rem 0;
  text-align: center;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

</style>